.centering {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error-container {
  position: absolute;
  top: -50px;

  font-size: 12px;
  font-family: "Press Start 2P", cursive;
  color: red;

  transition: 0.5s all linear;
}

.show-error {
  transform: translateY(80px);
}

.title {
  color: white;
  font-size: 30px;
  font-family: "Press Start 2P", cursive;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;

  color: white;
  font-size: 25px;
  font-family: "Press Start 2P", cursive;

  transition: 0.3s all linear;
}

.input-label:hover {
  color: red;
}

.form-input {
  height: 40px;
  width: 500px;
  padding: 5px 15px;

  outline: none;
  border: 1px solid black;
  border-radius: 20px;

  font-size: 20px;
  font-family: "Press Start 2P", cursive;
  text-align: center;

  transition: 0.5s all linear;
}

.form-input::placeholder {
  color: black;

  transition: 0.5s all linear;
}

.form-input:focus::placeholder {
  color: red;
}

.form-input:focus {
  border-color: white;
}

.buttons-container {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.submit-button,
.clear-button {
  padding: 5px 15px;

  font-size: 25px;
  font-family: "Press Start 2P", cursive;
  color: white;

  border: none;
  outline: none;
  background-color: transparent;

  transition-duration: 0.6s;
}

.submit-button:hover,
.clear-button:hover {
  color: red;
}

.notification {
  position: absolute;
  bottom: 30px;

  font-size: 25px;
  font-family: "Press Start 2P", cursive;
  color: white;

  text-decoration: none;

  transition: 0.5s all linear;
}

.notification:hover {
  color: red;
}
